doctype html
html(lang="en")
  head
    script(src='/javascripts/vendor/jquery.js')
    script(src='/javascripts/vendor/underscore.js')
    script(src='/javascripts/vendor/backbone.js')

    script(src='/javascripts/vendor/bootstrap.js')
    link(rel='stylesheet', href='/css/bootstrap.css', type='text/css' )

    script(src='/javascripts/main.js')

    script(src='/javascripts/app/router.js')
    script(src='/javascripts/app/models/item.js')

    script(src='/javascripts/app/views/homeView.js')
    script(src='/javascripts/app/views/addItemView.js')
    script(src='/javascripts/app/views/listsView.js')
    script(src='/javascripts/app/views/type1View.js')
    script(src='/javascripts/app/views/type2View.js')
body
  block mainContent
