doctype html
html(lang="en")
  head
    script(src='/javascripts/vendor/jquery.js')
    script(src='/javascripts/vendor/underscore.js')
    script(src='/javascripts/vendor/backbone.js')

    script(src='/javascripts/vendor/bootstrap.js')
    link(rel='stylesheet', href='/css/bootstrap.css', type='text/css' )
    link(rel='stylesheet', href='/css/main.css', type='text/css' )


    script(src='/javascripts/main.js')

    script(src='/javascripts/app/templates/Type1.js')

    script(src='/javascripts/app/router.js')
    script(src='/javascripts/app/models/item.js')

    script(src='/javascripts/app/collections/list1.js')
    script(src='/javascripts/app/collections/list2.js')

    script(src='/javascripts/app/views/homeView.js')
    script(src='/javascripts/app/views/addItemView.js')
    script(src='/javascripts/app/views/listsView.js')
    script(src='/javascripts/app/views/listView.js')

body
  block mainContent
